<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compagnons - Citrouille bleue</title>
    <link rel="stylesheet" href="../asset/style.css">
</head>
<body>

<nav id="menu">
    <a href="../index.html"><img src="../img/327312682_6396629920364812_6871858417899509299_n.jpg" alt="logo compagnons" id="logo"/></a>
    <ul>
        <li><a href="Forêt%20enchantée.html"> Forêt Enchantée </a></li>
        <li><a href="Village%20Enchanté.html"> Village Enchanté </a></li>
        <li class="underline"> Citrouille bleue </li>
        <li><a href="Contact.html"> Contact</a></li>
    </ul>
</nav>

<section>
    <div class="carousel">
        <img src="" alt="" id="carouselCB">
    </div>
    <div class="event">
        <h1>La citrouille bleue</h1>
        <p class="info">L'histoire est en cours de rédaction, un peu de patience, vous saurez bientôt quelles horreurs vous attendent</p>
        <h2>Lieu</h2>
        <p class="info">Médiathèque le 36, 36 rue pasteur, 59186 Anor</p>
        <h3>Tarifs et horraire</h3>
        <p class="info">10 € pour les adultes, 6€ pour les (4-12ans) âge conseillé 8 ans</p>
    </div>
</section>

<script src="../asset/app.js"></script>
<script src="https://kit.fontawesome.com/f33464c73a.js" crossorigin="anonymous"></script>
</body>
</html>