<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compagnons - contact</title>
    <link rel="stylesheet" href="../asset/style.css">

</head>
<body>
<nav id="menu">
    <a href="../index.html"><img src="../img/327312682_6396629920364812_6871858417899509299_n.jpg" alt="logo compagnons" id="logo"/></a>
    <ul>
        <li><a href="Forêt%20enchantée.html"> Forêt Enchantée </a></li>
        <li><a href="Village%20Enchanté.html"> Village Enchanté </a></li>
        <li><a href="Citrouille%20bleue.html"> Citrouille bleue </a></li>
        <li class="underline">Contact</li>
    </ul>
</nav>


<section>
    <div id="contact">
        Une question ? Une suggestion ? Un troll à chasser ?
    </div>
    <form action="Contact.html" method="post">
        <label for="name">Nom Prénom</label>
        <input type="text" id="name" name="name">
        <label for="mail">email</label>
        <input type="email" id="mail" name="mail">
        <label for="message">Votre message</label>
        <textarea id="message" name="message" cols="35" rows="10"></textarea>
        <button type="submit" name="submit">Envoyer</button>
    </form>
</section>
<script src="../asset/app.js"></script>
<script src="https://kit.fontawesome.com/f33464c73a.js" crossorigin="anonymous"></script>
</body>
</html>