<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compagnons - contact</title>
    <link rel="stylesheet" href="../asset/style.css">

</head>
<body>
<nav id="menu">
    <a href="../index.html"><img src="../img/327312682_6396629920364812_6871858417899509299_n.jpg" alt="logo compagnons" id="logo"/></a>
    <ul>
        <li><a href="Forêt%20enchantée.html"> Forêt Enchantée </a></li>
        <li><a href="Village%20Enchanté.html"> Village Enchanté </a></li>
        <li><a href="Citrouille%20bleue.html"> Citrouille bleue </a></li>
        <li class="underline">Contact</li>
    </ul>
</nav>
<script src="../asset/app.js"></script>
<script src="https://kit.fontawesome.com/f33464c73a.js" crossorigin="anonymous"></script>
</body>
</html>