<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compagnons - Forêt Enchantée</title>
    <link rel="stylesheet" href="../asset/style.css">
</head>
<body>
<nav id="menu">
    <a href="../index.html"><img src="../img/327312682_6396629920364812_6871858417899509299_n.jpg" alt="logo compagnons" id="logo"/></a>
    <ul>
        <li class="underline">Forêt Enchantée</li>
        <li><a href="Village%20Enchanté.html"> Village Enchanté </a></li>
        <li><a href="Citrouille%20bleue.html"> Citrouille bleue </a></li>
        <li><a href="Contact.html"> Contact</a></li>
    </ul>
</nav>

<section>
    <div class="carousel">
        <img src="" alt="" id="carouselFE">
    </div>

    <div class="event">
        <h1>La Forêt Enchantée</h1>
        <p class="info">Grâce aux aventuriers de la Forêt enchantée, le Charbon ardent, l’artefact magique qui permet aux
            charbonniers de fabriquer du charbon de bois, a été retrouvé. Si les Maitres de Forge et de Verrerie sont
            rassénérés, les blanchisseurs sont toujours inquiets. S’ils peuvent à nouveau chauffer leurs étuves, la
            délicate opération du blanchiment des draps et surtout du fil à dentelles est impossible car la fée Blanche
            a disparu. Fini ce souffle magique qui parcourait les vertes prairies immaculées pour insuffler une
            blancheur féerique. L’économie textile de la Forêt enchantée est à nouveau menacée. Pour l’instant, les
            recherches sont demeurées infructueuses. Les habitants de la Forêt enchantée implorent alors tous les
            aventuriers de leur venir en aide, promettant une importante récompense sonnante et trébuchante. Dès lors,
            la Forêt enchantée fourmille de groupes d’aventuriers avides de richesses...</p>

        <h2>Lieu</h2>
        <p class="info">Site des verreries, Chemin des Blés, 59610 Fourmies</p>

        <h3>Tarifs et horraire</h3>
        <p class="info">6 euros le samedi soir et 2 euros pour les enfants (4-12 ans) 6 euros le dimanche et 2 euros pour les enfants
            (4-12 ans) 10 euros pour les deux jours pour les adultes et 3 euros pour les enfants. POssibilité de réserver
            via <strong><a href="https://www.helloasso.com/associations/les-compagnons-de-la-neuve-forge/evenements/la-foret-echantee?fbclid=IwZXh0bgNhZW0CMTEAAR3eDuN11tRQZBxDQEXOZOWRExas5u-eIoKTuYG8MQyge_xRAaHhOl36Qf8_aem__WsmaxOHVfwohKUzEDxing">Hello Asso</a></strong>
            pour un tarif préférentiel : 5 € par personne de plus de treize ans et journée
            9 € par personne de plus de treize ans pour les deux jours
        </p>
    </div>
</section>


<script src="../asset/app.js"></script>
<script src="https://kit.fontawesome.com/f33464c73a.js" crossorigin="anonymous"></script>
</body>
</html>