<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compagnons - VE</title>
    <link rel="stylesheet" href="../asset/style.css">
</head>
<body>
<nav id="menu">
    <a href="../index.html"><img src="../img/327312682_6396629920364812_6871858417899509299_n.jpg" alt="logo compagnons" id="logo"/></a>
    <ul>
        <li><a href="Forêt%20enchantée.html"> Forêt Enchantée </a></li>
        <li class="underline"> Village Enchanté</li>
        <li><a href="Citrouille%20bleue.html"> Citrouille bleue </a></li>
        <li><a href="Contact.html"> Contact</a></li>
    </ul>
</nav>

<section>
    <div class="carousel">
        <img src="" alt="" id="carouselVE">
    </div>

    <div class="event">
        <h1>Le Village Enchanté</h1>
        <p class="info">La sorcière Luna Lupin a kidnappé Ki Pikh Oc’, le ménestrel des Hérissons Lébons. Sans ses mélodies
            enchanteresses et ses litanies apaisantes, les Hérissons Lébons commencent à perdre leur légendaire flegme.
            Les Anciens du Village des charbonniers craignent qu’ils ne dévastent les sous-bois et fassent fuir tous les
            animaux. C’est toute la vie de la forêt qui est menacée, pour la plus grande satisfaction de la maléfique
            Luna Lupin. Heureusement, un village vient d'apparaitre : c'est le retour du village enchanté et de Pyrénie,
            la puissante magicienne. Cette dernière décide de venir en aide aux habitants de La Galoperie, à condition
            qu’ils retrouvent sa bague de fiançailles offerte à genoux par Kard Dorva, le puissant souffleur de verre,
            avant que celui-ci ne soit terrassé par le troll Kifoueth. Un peu de nostalgie lui permettra de mieux
            supporter son vieux compagnon, le vieux Rond Chont qui ne bouge plus guère de son fauteuil à bascule. Les
            habitants de La Galoperie demandent alors l’aide des aventuriers les plus courageux pour réussir cette
            double quête.</p>
        <h2>Lieu</h2>
        <p class="info">Rue de la Galoperie 59186 Anor</p>

        <h3>Tarifs et horraire </h3>
        <p>6 euros et 2 euros pour les enfants (4-12 ans), réservation possible via <strong><a href="https://www.helloasso.com/associations/les-compagnons-de-la-neuve-forge/evenements/la-foret-echantee?fbclid=IwZXh0bgNhZW0CMTEAAR3eDuN11tRQZBxDQEXOZOWRExas5u-eIoKTuYG8MQyge_xRAaHhOl36Qf8_aem__WsmaxOHVfwohKUzEDxing">Hello Asso</a></strong>
            pour un tarif préférentiel : 5€ par personne de plus de 13 ans. </p>
        <p class="info">
            Durée de l'animation de 1 h 30 à 3 h 00
            Départs: samedi 21 septembre 2024 de 16 h 00 à 22 h 00.
        </p>
    </div>
</section>

<script src="../asset/carouselVE.js"></script>
<script src="https://kit.fontawesome.com/f33464c73a.js" crossorigin="anonymous"></script>
</body>
</html>